.footer {
    width: 100%;
    background-color: #493423; 
    color: white;
    padding: 20px ;
    text-align: center;
    position: relative; 
    bottom: 0;
    height:38vh 
}

.footer table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

.footer th, td {
    padding: 5px;
    margin: 0 auto;
   
  
  
}

.footer th {
    font-size: 20px;
    font-weight: bold;
    color: #eff1ef;
    
}
.footer td{
    color: grey;
}

.footer a p{
    color: grey;
    text-decoration: none;
}

.footer p {
    font-size: 15px;
    margin: 5px 0;
    color: black
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer table {
        
        text-align: center;
        margin: 0 auto;
    }

    .footer th, 
    .footer td {
        text-align: center;
        padding: 10px;

    }

    .footer th {
        font-size: 18px;
    }
    .footer tr {
        display: table-row;
    }
    .footer td {
        display: table-cell;
    }

    .footer p {
        font-size: 14px;
    }
}